<html>
    <head>
        <meta charset="UTF-8">
        <title>Arne's Pizzashop</title>
    </head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <body>

        {% include 'navigation.twig' %}
        <div class="jumbotron">
            <div class="container">
                <br>
                <br>
                <h1>Arne's Pizzashop</h1>
                <p><span class='label label-default'>Online Pizza Bestellen!</span></p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Checkout</h2>  
                    <table class='table'>
                        <tr class='info'>
                            <th>Product</th>
                            <th>Prijs</th>

                            <th class='text-center'>Aantal</th>
                            <th>Extra's</th>
                            <th>Totaal</th>

                        </tr>


                        {% set totaal = 0 %}

                        <!-- Door winkelmanditems lussen -->

                        {% for winkelmandItem in winkelmandItems %}
                            <tr>
                                <td>{{winkelmandItem.product.naam}}</td>
                                <td>&euro; {{winkelmandItem.product.prijs|number_format(2)}}</td>

                                <td>
                                    <div class='row'>
                                        <div class='col-md-3'>x</div>

                                        <div class='col-md-7'>
                                            {{winkelmandItem.aantal}}
                                        </div>


                                    </div>

                                </td>
                                <td>
                                    {% for extra in winkelmandItem.extras %}
                                        <p>{{extra.naam}}</p>
                                    {% endfor %}
                                </td>
                                <td>{% set totaal = totaal + winkelmandItem.subtotaal %}
                                    &euro; {{winkelmandItem.subtotaal}}
                                </td>
                            </tr>


                        {% endfor %}

                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>

                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Totaal:</th>
                            <th class='lead'>&euro; {{ totaal }}</th>
                    </table>

                    <a href="winkelmandje.php" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left"></span> Wijzig Bestelling</a>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    {% if gebruiker == "" %}
                        <h2>Aanmelden</h2>
                        <form class="form-horizontal" role="form" method="post" action="login.php">

                            <legend>Bestaande Klant</legend>

                            <div class="form-group">
                                <label for="inputGebruikersnaam" class="col-sm-4 control-label">Gebruikersnaam:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="inputGebruikersnaam" name="inputGebruikersnaam" placeholder="Gebruikersnaam">
                                </div> 

                            </div>

                            <div class="form-group">
                                <label for="inputWw1" class="col-sm-4 control-label">Wachtwoord:</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="inputWachtwoord" name="inputWachtwoord" placeholder="Wachtwoord">
                                </div> 

                            </div>

                            <div class="form-group">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-6">
                                    <input type="submit" class="form-control btn btn-default" id="submit" value="Inloggen">
                                </div>
                            </div>

                        </form>
                        <br>
                        <form class="form-horizontal" role="form" method="post" action="registreer.php">

                            <legend>Nieuw bij Arne's Pizzashop?</legend>

                            <div class="form-group">
                                <br>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-6">
                                    <a class="btn btn-default form-control" href="registreer.php">Registreer</a>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>

                        </form>

                    {% else %}
                        <h2>Account</h2>
                        <p class="lead">U bent aangemeld als <mark>{{gebruiker.voornaam}} {{gebruiker.naam}}</mark> .</p>
                        <p class="lead">Afleveradres: </p>
                        <p><mark>{{gebruiker.adres}}</mark></p>
                        <p><mark>{{gebruiker.postcode}} {{gebruiker.gemeente}}</mark></p>
                        <br>
                        {% if gemeentes|length > 0 %}

                            <a href="bestellen.php" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-ok"></span> Bestelling Plaatsen</a>
                        {% else %}
                            <div class="alert alert-danger">
                                <h2>We leveren NIET in uw regio...</h2>
                            </div>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="container">
            <footer>
                <hr>
                <p>© Arne Slabbinck 2014</p>
            </footer>
        </div>
    </body>
</html>